Package: com.redenticdev.shortlook.plugin.contact-photo.telegram
Name: Telegram Contact Photos for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.1.0
Architecture: iphoneos-arm
Description: Show Telegram Contact Photos in ShortLook when you receive a Telegram notification!
Maintainer: RedenticDev
Author: RedenticDev
Section: Tweaks (ShortLook)
